/**
 * Variables
 */

@font-face {
  font-family: 'Halo';
  src:  url('../fonts/halo.eot');
  src:  url('../fonts/halo.eot?#iefix') format('embedded-opentype'),
    url('../fonts/halo.ttf') format('truetype'),
    url('../fonts/halo.woff') format('woff'),
    url('../fonts/halo.svg?#halo') format('svg');
  font-weight: normal;
  font-style: normal;
}

$color: #888888; // main color
$colorPlayBtn: rgba(136, 136, 136, 0.7); // play button color wihtout hover
$controlsColor: #ffffff; // color for controls